{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('h:i') }} dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p>{{ article.content | raw }}</p>
        </div>
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }} Commenaires : </h1>
        {% for comment in article.comments %}
            <div class="commentaire">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        
        {% if app.user %}
            {{ form_start(form) }}

            {{ form_row(form.author, {'attr': {'placeholder': 'Votre Nom ...'}}) }}

            {{ form_row(form.content, {'attr': {'placeholder': 'Votre Commentaire ...'}}) }}

            <button type="submit" class="btn btn-success">Commenter</button>

            {{ form_end(form) }}
        {% else %}
            <h2>Vous ne pouvez pas commenter si vous n'êtes connecté !</h2>
            <a href="{{path('security_login')}}" class="btn btn-primary">
                Connexion
            </a>
        {% endif %}   
        
    </section>


{% endblock %}
